server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/issuedb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      bootstrap-servers: localhost:9092  
  application:
    name: DEV-ISSUE-BOOK

jwt:
  secret: mySecretKey
  expireMs: 120000
  refrEshexpireMs: 120000
  
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka}

resilience4j:
   circuitbreaker:
      instances:
        sampleService:
          registerHealthIndicator: true
          slidingWindowSize: 5
          minimumNumberOfCalls: 5
          failureRateThreshold: 50
          waitDurationInOpenState: 2s
          permittedNumberOfCallsInHalfOpenState: 3
          eventConsumerBufferSize: 10

management:
    endpoints:
      web:
        exposure:
          include: '*'
     
logging:
  level:
    org:
      springframework:
        security: DEBUG
